@layer base {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: var(--font-secondary);
    font-weight: 700;
  }

  html {
    font-size: 16px;
  }

  h1 {
    font-size: 4.21rem;
  }

  h2 {
    font-size: 2.442rem;
  }

  h3 {
    font-size: 1.954rem;
  }

  h4 {
    font-size: 1.563rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  small {
    font-size: 0.8rem;
  }

  ::selection {
    background-color: color-mix(in oklch, var(--primary) 25%, transparent);
  }
}
