@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
    --color-*: initial;
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --radius: 0.625rem;
    --background: oklch(0.9601 0.0069 67.74);
    --foreground: oklch(0.1972 0.0126 55.55);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.1972 0.0126 55.55);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.4948 0.1389 35.87);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.5741 0.0526 72.68);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.8542 0.0117 71.88);
    --muted-foreground: oklch(0.4886 0.025 60.33);
    --accent: oklch(0.4948 0.1389 35.87);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.9178 0.0109 76.59);
    --input: oklch(0.9601 0.0069 67.74);
    --ring: oklch(0.4948 0.1389 35.87);
    --chart-1: oklch(0.4948 0.1389 35.87);
    --chart-2: oklch(0.5741 0.0526 72.68);
    --chart-3: oklch(0.8542 0.0117 71.88);
    --chart-4: oklch(0.4886 0.025 60.33);
    --chart-5: oklch(0.3772 0.0183 50.41);
    --sidebar: oklch(0.9601 0.0069 67.74);
    --sidebar-foreground: oklch(0.1972 0.0126 55.55);
    --sidebar-primary: oklch(0.4948 0.1389 35.87);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.5741 0.0526 72.68);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.9178 0.0109 76.59);
    --sidebar-ring: oklch(0.4948 0.1389 35.87);
}

.dark {
    --background: oklch(0.1972 0.0126 55.55);
    --foreground: oklch(0.9601 0.0069 67.74);
    --card: oklch(0.1972 0.0126 55.55);
    --card-foreground: oklch(0.9601 0.0069 67.74);
    --popover: oklch(0.2615 0.0117 55.82);
    --popover-foreground: oklch(0.9601 0.0069 67.74);
    --primary: oklch(0.6656 0.1301 46.2);
    --primary-foreground: oklch(0.1972 0.0126 55.55);
    --secondary: oklch(0.6464 0.042 63.17);
    --secondary-foreground: oklch(0.9601 0.0069 67.74);
    --muted: oklch(0.3339 0.011 55.98);
    --muted-foreground: oklch(0.7034 0.0164 54.83);
    --accent: oklch(0.6656 0.1301 46.2);
    --accent-foreground: oklch(0.1972 0.0126 55.55);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(0.3339 0.011 55.98);
    --input: oklch(0.2765 0.0178 112.2);
    --ring: oklch(0.6656 0.1301 46.2);
    --chart-1: oklch(0.6656 0.1301 46.2);
    --chart-2: oklch(0.6464 0.042 63.17);
    --chart-3: oklch(0.3339 0.011 55.98);
    --chart-4: oklch(0.5741 0.0526 72.68);
    --chart-5: oklch(0.7423 0.0532 63.96);
    --sidebar: oklch(0.2615 0.0117 55.82);
    --sidebar-foreground: oklch(0.9601 0.0069 67.74);
    --sidebar-primary: oklch(0.6656 0.1301 46.2);
    --sidebar-primary-foreground: oklch(0.1972 0.0126 55.55);
    --sidebar-accent: oklch(0.6464 0.042 63.17);
    --sidebar-accent-foreground: oklch(0.9601 0.0069 67.74);
    --sidebar-border: oklch(0.3339 0.011 55.98);
    --sidebar-ring: oklch(0.6656 0.1301 46.2);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
        scroll-behavior: smooth;
        font-weight: 400;
        scroll-padding-top: 3rem;
    }

    button,
    input,
    img,
    svg {
        user-select: none;
    }
}
